// Colors
$main-bg: #e6aac5;
$main-text: #273350;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


// DE8893
// 75445A
// 273350
// E6AAC5

// F2D1A6
// E77D7B
// 6F5F7E
// 2E3F69
// DEA7C9
